<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parent">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Parent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="etudiant">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Etudiant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enfant">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Enfant</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
