<ion-content [fullscreen]=true color="primary" scroll-x=false scroll-y=false>
    <div class="container">

        <h1>Prochain cours</h1>
        <p style="font-size: 24px;">Math</p>
        <ion-card>
            <ion-card-header style="text-align: center">
                <img src="../../assets/thor.jpg" alt="">
                <ion-card-title>La daronne à brice</ion-card-title>
                <ion-card-subtitle>Master 2 physique</ion-card-subtitle>
                <ion-card-subtitle>Université de montpellier</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <p>Je sais pas faire de maths ni d'anglais, j'étais en classe de 3ème avec Martos.</p>
            </ion-card-content>
        </ion-card>

        <ion-button size="large" expand="block" fill="outline">Rejoindre le cours</ion-button>

    </div>
</ion-content>
