<ion-content [fullscreen]=true color="primary" scroll-x=false scroll-y=false>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="start" slot="fixed" >
        <ion-fab-button color="light" [routerLink]="['/accueil']">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="container" *ngIf="router.url === '/login/parent'">
        <ion-label class="title">Confi'Cours</ion-label>
        <img src="../../assets/sofa.svg" alt="">
        <ion-item>
            <ion-label position="floating">Adresse Email</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item class="last">
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="large" expand="block" fill="outline" [routerLink]="['/parents']">Se connecter</ion-button>
    </div>
    <div class="container" *ngIf="router.url === '/login/student'">
        <img src="../../assets/student.svg" alt="">
        <ion-item>
            <ion-label position="floating">Adresse Email</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item class="last">
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="large" expand="block" fill="outline" [routerLink]="['/etudiant']">Se connecter</ion-button>
        <ion-label class="label">ou</ion-label>
        <ion-button size="large" expand="block" fill="outline" [routerLink]="['/signup']">Je m'inscris</ion-button>
    </div>
    <div class="container" *ngIf="router.url === '/login/child'">
        <img src="../../assets/child.svg" alt="">
        <ion-item class="last">
            <ion-label position="floating">Code</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button size="large" expand="block" fill="outline" [routerLink]="['/enfant']">Se connecter</ion-button>
    </div>
</ion-content>
