<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="demande">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>Demande de cours</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cours">
      <ion-icon name="checkmark-sharp"></ion-icon>
      <ion-label>Cours acceptés</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="archive">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Archive</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
