<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="options">
    <ion-slide>
      <div class="container">
        <ion-card>
          <ion-card-header>
            <img src="../../assets/thor.jpg" alt="">
            <ion-card-title>La daronne à brice</ion-card-title>
            <ion-card-subtitle>Master 2 physique</ion-card-subtitle>
            <ion-card-subtitle>Université de montpellier</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Je sais pas faire de maths ni d'anglais, j'étais en classe de 3ème avec Martos.</p>
            <ion-button expand="block">DEMANDER UN COURS</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <ion-card>
          <ion-card-header>
            <img src="../../assets/thor.jpg" alt="">
            <ion-card-title>La daronne à brice</ion-card-title>
            <ion-card-subtitle>Master 2 physique</ion-card-subtitle>
            <ion-card-subtitle>Université de montpellier</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Je sais pas faire de maths ni d'anglais, j'étais en classe de 3ème avec Martos.</p>
            <ion-button expand="block">DEMANDER UN COURS</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container">
        <ion-card>
          <ion-card-header>
            <img src="../../assets/thor.jpg" alt="">
            <ion-card-title>La daronne à brice</ion-card-title>
            <ion-card-subtitle>Master 2 physique</ion-card-subtitle>
            <ion-card-subtitle>Université de montpellier</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Je sais pas faire de maths ni d'anglais, j'étais en classe de 3ème avec Martos.</p>
            <ion-button expand="block">DEMANDER UN COURS</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>