<ion-header translucent>
  <ion-toolbar>
    <ion-title>Création compte enfant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parents"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked" class="test">Prénom <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="test">Code <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label>Classe</ion-label>
        <ion-select ok-text="Ok" cancel-text="Annuler" placeholder="Sélectionnez une classe">
          <ion-select-option value="1">CP</ion-select-option>
          <ion-select-option value="2">CE1</ion-select-option>
          <ion-select-option value="3">CE2</ion-select-option>
          <ion-select-option value="4">CM1</ion-select-option>
          <ion-select-option value="5">CM2</ion-select-option>
          <ion-select-option value="6">6ème</ion-select-option>
          <ion-select-option value="7">5ème</ion-select-option>
          <ion-select-option value="8">4ème</ion-select-option>
          <ion-select-option value="9">3ème</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Créer un compte</ion-button>
    </div>
  </form>
</ion-content>