<ion-content scroll-y=false scroll-x=false>
  <ng-container *ngIf="stepIndex === 1">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Mes informations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresse Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="last">
      <ion-label position="floating">Présente toi en quelques mots</ion-label>
      <ion-textarea auto-grow=true></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="camera" (click)="takePicture()"></ion-icon>
      <ion-label>Photo de profil</ion-label>
      <img *ngIf="photo !== undefined" [src]="photo" alt="">
    </ion-item>
    <ion-button size="large" expand="block" (click)="stepIndex = stepIndex + 1">Suivant</ion-button>
  </ng-container>
  <ng-container *ngIf="stepIndex === 2">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Mes matières</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-list-header>
        Je peux enseigner :
      </ion-list-header>
      <ion-item class="list-item" *ngFor="let subject of subjects">
        <ion-label>{{subject}}</ion-label>
        <ion-checkbox color="primary" slot="start" (ionChange)="subjectSelected(subject)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button size="large" expand="block" (click)="stepIndex = stepIndex + 1">Suivant</ion-button>
  </ng-container>
  <ng-container *ngIf="stepIndex === 3">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Mes horaires</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-list-header>
        Je suis disponible :
      </ion-list-header>
    </ion-list>
    <ion-item>
      <ion-label>Jour</ion-label>
      <ion-select placeholder="Jour" [(ngModel)]="selectedDay">
        <ion-select-option *ngFor="let day of days" [value]="day">{{day}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Heure de début</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="hh : mm"
        (ionChange)="startHourChanged($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Heure de fin</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="hh : mm"
        (ionChange)="endHourChanged($event)"></ion-datetime>
    </ion-item>
    <ion-button class="add-button" size="large" expand="block" (click)="addShift()">Ajouter</ion-button>
    <ion-list class="shifts">
      <ion-item class="list-item" *ngFor="let shift of shifts; let i = index">
        <ion-icon color="danger" slot="end" name="close-circle-outline" (click)="deleteShift(i)"></ion-icon>
        <ion-label>{{shift.day}} de {{shift.startHour}}:{{shift.startMinutes}} à
          {{shift.endHour}}:{{shift.endMinutes}}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button size="large" expand="block" (click)="stepIndex = stepIndex + 1" *ngIf="shifts.length > 0">Je valide mon
      inscription</ion-button>
  </ng-container>
</ion-content>