<ion-content [fullscreen]=true color="primary" scroll-x=false scroll-y=false>
    <div class="container">
        <!-- fab placed to the top end -->
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="danger">
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <h1>Cours terminé</h1>
        <p style="font-size: 16px;">Merci de donner une note sur 5</p>
        <div class="rating" style="font-size: 30px;">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <ion-button size="large" expand="block" fill="outline" color="light">Valider</ion-button>
    </div>
</ion-content>
