.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  border-bottom: 1rem;
}
ion-item {
  --background: primary;
  --color: white;
  margin-bottom: 1rem;
}

.last {
  margin-bottom: 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.label{
  margin-bottom: 1rem;
}
ion-button {
  --border-color: white;
  --color: white;
  --color-activated: #2bb573;
  --background-activated: white;
  --color-hover: primary;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/*
rating
 */
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
