
<ion-content [fullscreen]=true color="primary" scroll-x=false scroll-y=false>
  <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center ion-align-self-center" [routerLink]="['/login/parent']">
            <img src="../../assets/parent.svg" alt="Je suis un parent">
            <ion-button  expand="block" fill="outline">Je suis un parent</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center ion-justify-content-center" [routerLink]="['/login/student']">
            <img src="../../assets/student.svg" alt="Je suis un étudiant">
            <ion-button  expand="block" fill="outline">Je suis un étudiant</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center ion-justify-content-center" [routerLink]="['/login/child']">
            <img src="../../assets/child.svg" alt="Je suis un enfant">
            <ion-button  expand="block" fill="outline">Je suis un enfant</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
