
<ion-content [fullscreen]=true color="primary" scroll-x=false scroll-y=false>
  <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center ion-justify-content-center" [routerLink]="['/login']">
            <img src="../../assets/parent.svg" alt="Je suis un parent">
            <p>Je suis un parent</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center ion-justify-content-center" [routerLink]="['/login-student']">
            <img src="../../assets/student.svg" alt="Je suis un étudiant">
            <p>Je suis un étudiant</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center ion-justify-content-center" [routerLink]="['/login-child']">
            <img src="../../assets/child.svg" alt="Je suis un enfant">
            <p>Je suis un enfant</p>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
