<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/etudiant"></ion-back-button>
    </ion-buttons>
    <ion-title>Mes matières</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item class="list-item" *ngFor="let subject of subjects">
      <ion-label>{{subject}}</ion-label>
      <ion-checkbox color="primary" (ionChange)="subjectSelected(subject)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>